<div class="row">
  <!-- SEO report Start -->
  <div class="col-md-12">
    <div class="seo-report-section">
      <div class="seo-report-list">
        <div class="seo-report-box">
          <h3>SEO Score</h3>
          <p>Count: <span>
              <% if(typeof seoscore !== 'undefined' && seoscore!=''){ %>
              <%= seoscore.seoScore %>
              <% } %>
            </span></p>
        </div>
        <div class="seo-report-box">
          <h3>Missing Alt Images</h3>
          <p>Count: <span><%= altImagesCount %></span></p>
        </div>
        <% if (typeof allHeadingCounts === 'object' && allHeadingCounts !== null) { %>
        <% for (const [key, value] of Object.entries(allHeadingCounts)) { %>
        <div class="seo-report-box">
          <h3><%= key %></h3>
          <p>Count: <span> <%= value %></span></p>
        </div>
        <% } %>
        <% } %>
      </div>
    </div>
  </div>
  <!-- SEO report End -->
  <!-- Accordion Start -->
  <div class="accordion-section">

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            SEO Report
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-table">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>Title</th>
                      <td><%= urlToAnalyze?.title %></td>
                    </tr>
                    <tr>
                      <th>Meta Description</th>
                      <td><%= urlToAnalyze?.metaDescription %></td>
                    </tr>
                    <tr>
                      <th>Canonical</th>
                      <td><%= urlToAnalyze?.canonical %></td>
                    </tr>
                    <tr>
                      <th>Viewport</th>
                      <td><%= urlToAnalyze?.viewport %></td>
                    </tr>
                    <tr>
                      <th>Robots</th>
                      <td><%= urlToAnalyze?.robots %></td>
                    </tr>
                    <tr>
                      <th>Word Count</th>
                      <td><%= urlToAnalyze?.wordCount %></td>
                    </tr>
                    <tr>
                      <th>Headings</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.headings.forEach(function(item) { %>
                          <% if (item?.h1) { %>
                          <li>H1 Tag: <%= item.h1 %></li>
                          <% } %>
                          <% if (item?.h2) { %>
                          <li>H2 Tag: <%= item.h2 %></li>
                          <% } %>
                          <% if (item?.h3) { %>
                          <li>H3 Tag: <%= item.h3 %></li>
                          <% } %>
                          <% if (item?.h4) { %>
                          <li>H4 Tag: <%= item.h4 %></li>
                          <% } %>
                          <% if (item?.h5) { %>
                          <li>H5 Tag: <%= item.h5 %></li>
                          <% } %>
                          <% if (item?.h6) { %>
                          <li>H6 Tag: <%= item.h6 %></li>
                          <% } %>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>H1 Issues</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.h1Issues.forEach(function(h1Issues) { %>
                          <li> <%= h1Issues %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Meta Tags</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.metaTags.forEach(function(metaTag) { %>
                          <% for (let key in metaTag) { %>
                          <li><strong><%= key %>:</strong> <%= metaTag[key] %></li>
                          <% } %>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Open Graph</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.openGraph.forEach(item => { %>
                          <% for (const [key, value] of Object.entries(item)) { %>
                          <li><%= key %>: <%= value %></li>
                          <% } %>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>URL Issues</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.urlIssues.forEach(function(urlIssues) { %>
                          <li> <%= urlIssues %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Page Title Issues</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.pageTitleIssues.forEach(function(pageTitleIssues) { %>
                          <li> <%= pageTitleIssues %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Meta Description Issues</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.metaDescriptionIssues.forEach(function(metaDescriptionIssues) { %>
                          <li> <%= metaDescriptionIssues %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Canonical URL Issues</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.canonicalizationIssues.forEach(function(canonicalizationIssues) { %>
                          <li> <%= canonicalizationIssues %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Thin Content Issues</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.thinContentIssues.forEach(function(thinContentIssues) { %>
                          <li> <%= thinContentIssues %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Other Errors</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.errors.forEach(function(errors) { %>

                          <li> <%= errors %></li>

                          <% }); %>
                        </ul>
                      </td>
                    </tr>

                    <tr>
                      <th>SSL Certificate Available</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.sslCertificateIssues.forEach(function(sslCertificateIssues) { %>

                          <li> <%= sslCertificateIssues %></li>

                          <% }); %>
                        </ul>
                      </td>
                    </tr>

                    <tr>
                      <th>Favicon Available</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.faviconIssues.forEach(function(faviconIssues) { %>

                          <li> <%= faviconIssues %></li>

                          <% }); %>
                        </ul>
                      </td>
                    </tr>

                    <tr>
                      <th>Structured Data</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.structuredData.forEach(function(structuredData) { %>
                          <% for (const [key, value] of Object.entries(structuredData)) { %>
                          <li><%= key %>: <%= value %></li>
                          <% } %>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Missing Alt in Images</th>
                      <td>
                        <ul>
                          <% urlToAnalyze?.missingAlt.forEach(function(imageAlt) { %>
                          <li> <%= imageAlt %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseForth" aria-expanded="false" aria-controls="collapseForth">
            SEO Ranks
          </button>
        </h2>
        <div id="collapseForth" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-table">
              <div class="accordion-body">
                <div class="accordion-discription">
                  <div class="table-responsive">
                    <table class="table table-hover my-0 display" style="width:100%">
                      <tbody>
                        <% if(Array.isArray(seoRanks)) { %>
                        <% seoRanks.forEach(function(item) { %>
                        <tr>
                          <td class="d-xl-table-cell"><%= item.name %></td>
                          <td class="d-md-table-cell"><a href="<%= item.url %>" target="_blank">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-external-link align-middle me-2">
                                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                <polyline points="15 3 21 3 21 9"></polyline>
                                <line x1="10" y1="14" x2="21" y2="3"></line>
                              </svg></a></td>
                          <td><span class="badge bg-success btn-default-bgcolor">
                              <% if(item.ranking != 0){ %>
                              <%= item.ranking %>
                              <% }else{ %>
                              Not Found
                              <% } %>
                          </td>
                        </tr>
                        <% }); %>
                        <% }; %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Broken Links
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-table">
              <div class="accordion-body">
                <div class="accordion-discription">
                  <ul>
                    <% if(Array.isArray(allPages)) { %>
                    <% allPages.forEach(function(item) { %>
                    <li><span class="text-right"> <%= item.link %></span>
                      <span class="text-left"><a href="<%= item %>" target="_blank">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link align-middle me-2">
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                          </svg></a></span>
                    </li>
                    <% }); %>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Crawled Links
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-discription">
              <ul>
                <% if (Array.isArray(masterLinks)) { %> 
                <% masterLinks.forEach(function(item) { %>
                <li><span class="text-right"> <%= item %></span>
                  <span class="text-left"><a href="<%= item %>" target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-external-link align-middle me-2">
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                      </svg></a></span>
                </li>
                <% }); %>
                <% } %>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion End -->
</div>