<div class="site-audit-section">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <a href="/audit/addSiteAudit" class="btn-default">Add New Audit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="seo-checker-data-table table-first">
                    <div class="table-section">
                        <div class="site-audit-table">
                        <div class="table-responsive">
                            <table id="datatables-reponsive" class="table table-striped defaultDataTable"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Audit Id</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                        <th>Generate Seo Report</th>
                                        <th>Delete Report</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% allPages.forEach(function(item) { %>
                                        <tr id="report_te_id_<%= item.id %>">
                                            <td>
                                                <%= item.audit_id %>
                                            </td>
                                            <td class="audit_status">
                                                <%= item.status %>
                                            </td>
                                            <td>
                                                <% if(item.status=='Completed' ) { %>
                                                    <a href="/audit/viewSiteAudited?id=<%= item.id %>" target="_blank">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-external-link align-middle me-2">
                                                            <path
                                                                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6">
                                                            </path>
                                                            <polyline points="15 3 21 3 21 9"></polyline>
                                                            <line x1="10" y1="14" x2="21" y2="3"></line>
                                                        </svg>
                                                    </a>
                                                    <% }else if(item.status=='Pending'){ %>
                                                        <a href="#" class="btn-default run_audit">Add New Audit</a>
                                                    <% } %> 
                                            </td>

                                            <td>
                                                <% if(item.status=='Completed' && item.site_audit_status=='Pending' ) { %>  
                                                    <a href="#" class="btn-default run_site_audit_report">Generate Seo Report</a>
                                                <% }else if(item.site_audit_status=='Running'){%> 
                                                    <%= item.site_audit_status %>
                                                <% } %> 
                                            </td>

                                            <td>
                                                <a href="#" data-id="<%= item.id %>" class="delete_site_audit_report" >
                                                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 482.428 482.429" xml:space="preserve"> 
                                                        <g id="SVGRepo_bgCarrier" stroke-width="0"/> 
                                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/> 
                                                        <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M381.163,57.799h-75.094C302.323,25.316,274.686,0,241.214,0c-33.471,0-61.104,25.315-64.85,57.799h-75.098 c-30.39,0-55.111,24.728-55.111,55.117v2.828c0,23.223,14.46,43.1,34.83,51.199v260.369c0,30.39,24.724,55.117,55.112,55.117 h210.236c30.389,0,55.111-24.729,55.111-55.117V166.944c20.369-8.1,34.83-27.977,34.83-51.199v-2.828 C436.274,82.527,411.551,57.799,381.163,57.799z M241.214,26.139c19.037,0,34.927,13.645,38.443,31.66h-76.879 C206.293,39.783,222.184,26.139,241.214,26.139z M375.305,427.312c0,15.978-13,28.979-28.973,28.979H136.096 c-15.973,0-28.973-13.002-28.973-28.979V170.861h268.182V427.312z M410.135,115.744c0,15.978-13,28.979-28.973,28.979H101.266 c-15.973,0-28.973-13.001-28.973-28.979v-2.828c0-15.978,13-28.979,28.973-28.979h279.897c15.973,0,28.973,13.001,28.973,28.979 V115.744z"/> <path d="M171.144,422.863c7.218,0,13.069-5.853,13.069-13.068V262.641c0-7.216-5.852-13.07-13.069-13.07 c-7.217,0-13.069,5.854-13.069,13.07v147.154C158.074,417.012,163.926,422.863,171.144,422.863z"/> <path d="M241.214,422.863c7.218,0,13.07-5.853,13.07-13.068V262.641c0-7.216-5.854-13.07-13.07-13.07 c-7.217,0-13.069,5.854-13.069,13.07v147.154C228.145,417.012,233.996,422.863,241.214,422.863z"/> <path d="M311.284,422.863c7.217,0,13.068-5.853,13.068-13.068V262.641c0-7.216-5.852-13.07-13.068-13.07 c-7.219,0-13.07,5.854-13.07,13.07v147.154C298.213,417.012,304.067,422.863,311.284,422.863z"/> </g> </g> </g> 
                                                    </svg>
                                                </a>
                                            </td>


                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<script>
    $( document ).ready(function() {
        var anchors = $('.audit_status'), counter = 0;
        var interval;
        var anchors_data = ""; 
        anchors.each(function() {
           
            if($(this).text().trim() == 'Pending'){
                anchors_data = $(this).text().trim(); 
            }
        });
        interval = setInterval(function(){
            if(anchors_data == 'Pending'){
                window.location.reload();
            }else{
                clearInterval(interval);
            }
        }, 15000);
        let table = new DataTable('.defaultDataTable', {
            pageLength: 25,
            responsive: true
        });

        $(document).on("click",".run_audit",function() {
            $.ajax({
                url: "/cron/siteAuditCron",
                cache: false,
                success: function(){
                    console.log("Done");
                    window.location.reload();
                }
            });
        });

        $(document).on("click",".run_site_audit_report",function() {
            $.ajax({
                url: "/cron/generateSeoReportCron",
                cache: false,
                success: function(){
                    console.log("Done");
                    window.location.reload();
                }
            });
        });

        $(document).on("click",".delete_site_audit_report",function() {
            var delete_id = $(this).attr('data-id');
            Swal.fire({
                title: "Are you sure?",
                text: "You won't to delete the this audit report!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/audit/deleteAuditReport",
                        data : { delete_id : delete_id },
                        type: "POST",
                        dataType: "JSON",
                        cache: false,
                        success: function(data){
                            if(data.status=="Success"){
                                $("#report_te_id_"+delete_id).remove();
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                });
                            }else{
                                Swal.fire({
                                    title: "Oops...",
                                    text: "Something went wrong!",
                                    icon: "error"
                                });
                            }
                            console.log("Done");
                        }
                    });
                    

                  
                }
            });
        });
            

    });
</script>
